# Node modules
node_modules/

# Build directory
/dist/

# IDE configuration files
.vscode/

# Any other files that should be ignored
*.log

# Jest coverage reports
/coverage

# Jest cache
/.jest-cache

